<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="set_wheel_friction" params="link friction">
    <gazebo reference="${link}">
      <mu1 value="${friction}"/>
      <mu2 value="${friction}"/>
      <kp value="10000000.0"/>
      <kd value="1.0"/>
      <minDepth>0.01</minDepth>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="set_all_wheel_frictions">
    <xacro:set_wheel_friction link="left_wheel_link" friction="200"/>
    <xacro:set_wheel_friction link="right_wheel_link" friction="200"/>
    <xacro:set_wheel_friction link="back_caster_wheel_link" friction="1"/>
  </xacro:macro>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/diffbot</robotNamespace>
      <!--robotParam>/robot_description</robotParam-->
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

</robot>