<launch>
  <!-- Use this launch file for navigation simulation -->
  <!--This launches gazebo itself. Don't launch gazebo explicitly before this  -->
  <!-- Arguments -->
  <arg name="map_file" default="$(find diffbot_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="rvizconfig" default="$(find diffbot_navigation)/rviz/diffbot_navigation.rviz" />
  <arg name="move_forward_only" default="false"/>
  <arg name="local_planner" default="dwa" doc="Local planner can be either dwa, base, teb or pose"/>
  <arg name="world_name" default="$(find diffbot_gazebo)/worlds/corridor.world"/>

  <!-- DiffBot Remote Steering TODO -->
  <!--include file="$(find diffbot_bringup)/launch/diffbot_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include-->

  <include file="$(find diffbot_gazebo)/launch/diffbot.launch">
    <!--arg name="model" value="$(arg model)" /-->
    <arg name="world_name" value="$(arg world_name)" />
  </include>


  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find diffbot_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find diffbot_navigation)/launch/move_base.launch">
    <arg name="local_planner" value="$(arg local_planner)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- Launch visualization in rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(arg rvizconfig)"/>
  </group>

</launch>
