<?xml version="1.0"?>
<robot>

  <!-- base_footprint -->
  <gazebo reference="base_footprint">
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <!-- base_link -->
  <gazebo reference="base_link">
    <material>Gazebo/White</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

  <!-- Back caster wheel -->
  <gazebo reference="caster_link">
    <turnGravityOff>false</turnGravityOff>
  </gazebo>

</robot>
