<launch>
    <arg name="laser_frame_id" default="rplidar_gpu_laser_link" />

    <!-- The `minimal.launch` is used to load the DiffBot's robot descripton
        and the controller configuration onto the ROS parameter server using the launch file from the 
        `diffbot_base` package (https://fjp.at/projects/diffbot/ros-packages/base/). 
        It will also setup the ROS controller manager (http://wiki.ros.org/controller_manager) with 
        DiffBot's hardware interface https://fjp.at/projects/diffbot/ros-packages/base/#hardware-interface.
        For the motor driver the node `motor_driver.py` from the `grove_motor_driver` package is started.
        And for the encoders rosserial communicates with the Teensy microcontroller to publish the encoder ticks. 
    -->
    <include file="$(find diffbot_bringup)/launch/minimal.launch">
        <!-- arg name="model" value="$(arg model)" /-->
    </include>

    <!-- Starting robot state publish which will publish tf -->
    <!-- This is needed to publish transforms between all links -->
    <!-- diff_drive_controller publishes only a single transfrom between odom and base_footprint -->
    <!-- The robot_state_publisher reads the joint states published by ros control's joint_state_controller -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        output="screen" ns="diffbot" />

    <include file="$(find rplidar_ros)/launch/rplidar.launch" ns="diffbot">
        <param name="frame_id" type="string" value="$(arg laser_frame_id)" />
    </include>

</launch>


