<!-- https://github.com/ros-controls/ros_controllers/tree/kinetic-devel/diff_drive_controller/test -->
<launch>
    <!--arg name="model" default="$(env DIFFBOT_MODEL)" doc="model type [diffbot, remo]"/-->
    <arg name="model" default="diffbot" doc="model type [diffbot, remo]"/>
    <arg name="description_package" default="$(eval find(arg('model') + '_description'))" />
    <arg name="urdf_file" default="$(find xacro)/xacro '$(arg description_package)/urdf/$(arg model).urdf.xacro'" />

    <!-- Load the URDF model of DiffBot into the ROS Parameter Server -->
    <param name="diffbot/robot_description" command="$(arg urdf_file)" />

    <!-- Run the diffbot_base -->
    <!-- This will create the DiffBot hardware interface and instantiate a new controller manager with it -->
    <node name="diffbot_base" pkg="diffbot_base" type="diffbot_base" ns="diffbot" output="screen"/>

    <!-- Load controller config to the parameter server -->
    <rosparam command="load" 
              file="$(find diffbot_control)/config/diffbot_control.yaml"/>

    <!-- Load base config to the parameter server -->
    <rosparam command="load" 
              file="$(find diffbot_base)/config/base.yaml"/>

    <!-- Load the controllers -->
    <!-- This will use the controller manager that got started inside the difbot_base node -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="diffbot" args="joint_state_controller
                                            mobile_base_controller"/>

    <!-- Load EKF Filter to fuse IMU with Odometry -->
    <include file="$(find diffbot_control)/launch/diffbot_filter.launch"/>
</launch>
